* {
	background: #58595B url("https://i.imgur.com/yts31MB.png") no-repeat fixed 0 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFFFFF;
}

.container {
  text-align: center;
  width: 90%;
  margin: 0px auto; /* Margin width as 'auto' will center the container */
}

.square {
  display: inline-block;
  width: 256px;
  height: 384px;
  border: 2px solid black; /* Blue to see the box outline */
  margin-top: 4px;
}

img {
    display: block;
	margin: auto;
	max-width: 256px;
    max-height: 384px;
}
